.my-yellow-color {
    color: rgba(206,164,52,1);
}

.my-yellow-color-background {
    background-color: rgba(206,164,52,1);
}

.my-deepblue-color-background {
    background-color: rgba(14, 31, 51, 1);
}

.my-deepblue-color-text {
    color: rgba(14, 31, 51, 1);
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    html {
        font-size: 1rem;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html {
        font-size: 1.1rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html {
        font-size: 1.3rem;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    html {
        font-size: 1.5rem;
    }
}

/*// XX-Large devices (larger desktops, 1400px and up)
*/@media (min-width: 1400px) {
    html {
        font-size: 1.6rem;
    }
}
